.topnav {
  overflow: hidden;
  background-color: #000080;
  font: verdana;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font: verdana;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
  font: verdana;
}
.topnav a.active {
    background-color: #4CAF50;
    color: white;
     font: verdana;
}
        body{background-color : powderblue;}
        h1 {color: black;
            text-align: center;
        }
        p {color: blue;
           text-align: center;
        }
}
